<link rel="stylesheet" href="/css/header.css">

<header>
    <div id="main-block">
        <div>
            <h1>
                <a href="/">CodeBook</a>
            </h1>
        </div>

        <div id="user-block">
            <% if(locals.user) {%>
                <div class="user-logged-in">
                    <a href="/users/profile/<%= user._id %>">Profile: <%= user.name %></a>
                </div>
                <div class="user-logged-in">
                    <a href="/auth/signout">Sign Out</a>
                </div>

                <% } else { %>
                    <div>
                        <a href="/auth/login">Log In</a>
                    </div>
                    <div>
                        <a href="/auth/signup">Sign Up</a>
                    </div>
                    <% } %>
        </div>
    </div>

</header>