<link rel="stylesheet" href="/css/home.css">

<h1>This is the home page of <%= title %>
</h1>


<section id="feed-posts">
    <h4>Posts</h4>
    <% if(locals.user) { %>
        <form action="/users/create-post" id="new-post-form" method="post">
            <textarea name="content" id="" placeholder="Type Here" cols="30" rows="3"></textarea>
            <input type="submit" value="Post">
        </form>
    <% } %>

            <div id="posts-list">
                <ul>
                    <% for(post of posts) { %>
                        <p>
                            <li>
                                <%= post.content %>
                            </li>
                            <%= post.user.name %>
                        </p>
                        <% } %>
                </ul>

            </div>
</section>

<script src="/js/home.js"></script>