<link rel="stylesheet" href="/css/home.css">

<h1 id="head-h1">
    This is the home page of <%= title %>
</h1>

<div id="container">

    <!-- Post and Comment section -->
    <section id="feed-posts">
        <h4>Posts</h4>
        <div>

            
            <!-- Create Post -->
            <% if(locals.user) { %>
                <form action="/users/create-post" id="new-post-form" method="post">
                    <textarea name="content" id="comment-entered" placeholder="Type Here" cols="40" rows="3" required></textarea>
                    <input type="submit" value="Post" id="submit-form-button">
                </form>
                <% } %>


                <!-- Show Posts List -->
                <div id="posts-list">
                    <ul>
                        <% for(post of posts) { %>

                            <%- include('_posts') %>

                        <% } %>
                    </ul>

                </div>
        </div>
        <button id="scrollToTopButton" class="scroll-to-top-button">Top</button>
    </section>


    <!-- Show Users -->
    <section id="user-friends">
        <h4>Friends</h4>
        <% for( u of all_users ) { %>
            <p>
                <a href="/users/profile/<%= u.id %>">
                    <%= u.name %>
                </a>
            </p>
            <% } %>
    </section>

</div>

<script src="/js/home.js"></script>