<link rel="stylesheet" href="/css/home.css">

<h1 id="head-h1">This is the home page of <%= title %>
</h1>


<section id="feed-posts">
    <h4>Posts</h4>
    <div>
        <% if(locals.user) { %>
            <form action="/users/create-post" id="new-post-form" method="post">
                <textarea name="content" id="comment-entered" placeholder="Type Here" cols="40" rows="3"
                    required></textarea>
                <input type="submit" value="Post" id="submit-form-button">
            </form>
            <% } %>

                <div id="posts-list">
                    <ul>
                        <% for(post of posts) { %>
                            
                            <%- include('_posts') %>

                            <% } %>
                    </ul>

                </div>
    </div>
</section>

<script src="/js/home.js"></script>