<link rel="stylesheet" href="/css/home.css">

<h1>This is the home page of <%= title %>
</h1>
<form action="/auth/signup" method="GET" id="signupForm">
    <button type="submit" id="toSignUp">Become one with us. Join-in</button>
</form>


<script src="/js/home.js"></script>
