<link rel="stylesheet" href="/css/log_in.css">

<div id="contianer">

    <h1>Log-In to view your profile.</h1>

    <div id="form-div">
        <form action="/auth/login" method="post" id="login_form">
            <div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Enter Your Email">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter Password">    
                </div>
                </div>
            <div>
                <button type="submit" id="loginButton">Login</button>
                <button type="button" id="signUpButton">Not a User? Sign-up then</button>
            </div>
        </form>
    </div>


</div>


<script src="/js/log_in.js"></script>