#head-h1 {
  background-color: #ac7eff;
  margin: 0;
  padding: 10px; }

#container {
  display: flex;
  background-color: #DFCCFB; }
  #container #feed-posts {
    padding: 6%;
    flex: 7; }
    #container #feed-posts h4 {
      margin: 0 0 15px; }
    #container #feed-posts #new-post-form {
      display: flex;
      align-items: center;
      justify-content: center; }
      #container #feed-posts #new-post-form #comment-entered {
        border-radius: 12px;
        border: 1px solid #836096;
        resize: none;
        padding: 10px;
        outline: none !important;
        flex: 4; }
      #container #feed-posts #new-post-form #comment-entered:hover {
        box-shadow: 1px 1px 5px 1px #836096; }
      #container #feed-posts #new-post-form #submit-form-button {
        background-color: #BEADFA;
        border: none;
        font-size: 16px;
        border-radius: 14px;
        padding: 7px;
        margin: 10px;
        flex: 1; }
      #container #feed-posts #new-post-form #submit-form-button:hover {
        border: 1px solid #836096;
        background-color: #F4EEEE;
        cursor: pointer; }
    #container #feed-posts #posts-list {
      text-align: left; }
      #container #feed-posts #posts-list ul {
        padding: 0; }
      #container #feed-posts #posts-list #each-post {
        background-color: #A8A4CE;
        padding: 10px 12px;
        border-radius: 8px;
        margin: 0 0 10px; }
        #container #feed-posts #posts-list #each-post li {
          background-color: #7A86B6;
          border-radius: 7px;
          padding: 5px;
          margin-bottom: 5px; }
        #container #feed-posts #posts-list #each-post .post-content {
          padding-left: 8px; }
        #container #feed-posts #posts-list #each-post .post-user {
          text-align: right;
          padding-right: 15px;
          display: block; }
        #container #feed-posts #posts-list #each-post .post-comments {
          padding-left: 10px;
          display: flex;
          margin: 0 0 12px 2px;
          align-items: center; }
          #container #feed-posts #posts-list #each-post .post-comments form #comment-reply {
            border-radius: 8px;
            border: 1px solid #836096;
            padding: 5px;
            outline: none;
            margin: 3px; }
          #container #feed-posts #posts-list #each-post .post-comments form #comment-reply-submit {
            border: none;
            border-radius: 9px;
            padding: 3px;
            margin: 5px; }
          #container #feed-posts #posts-list #each-post .post-comments form #comment-reply-submit:hover {
            border: 0.1px solid #836096;
            background-color: rgba(254, 236, 233, 0.2);
            cursor: pointer; }
        #container #feed-posts #posts-list #each-post .post-comments-list {
          background-color: rgba(227, 226, 195, 0.4);
          border-radius: 6px;
          padding: 1px 6%;
          margin: 0 15px; }
          #container #feed-posts #posts-list #each-post .post-comments-list ul {
            padding: 10px 0; }
            #container #feed-posts #posts-list #each-post .post-comments-list ul #comment-tree {
              background-color: rgba(240, 239, 226, 0.8); }
  #container #user-friends {
    flex: 1;
    padding: 4%;
    border-left: 1px solid gray; }
